In [1]:
import pandas as pd

In [9]:
chipo=pd.read_csv("D:\File\chipotle_Ex2.csv")

In [10]:
data=chipo.copy()
data.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
### Step 5. What is the number of observations in the dataset?

In [11]:
data.shape[0]

4622

In [ ]:
### Step 6. What is the number of columns in the dataset?

In [13]:
len(data.columns)

6

In [ ]:
### Step 7. Print the name of all the columns.

In [19]:
[i for i in data.columns]

['Unnamed: 0',
 'order_id',
 'quantity',
 'item_name',
 'choice_description',
 'item_price']

In [ ]:
### Step 8. How is the dataset indexed?

In [20]:
data.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
### Step 9. Which was the most-ordered item?

In [29]:
data.groupby("item_name")["quantity"].sum().idxmax()

'Chicken Bowl'

In [ ]:
### Step 10. For the most-ordered item, how many items were ordered?

In [30]:
data.groupby("item_name")["quantity"].sum().max()

761

In [ ]:
### Step 11. What was the most ordered item in the choice_description column?

In [35]:
data["choice_description"].value_counts().idxmax()

'[Diet Coke]'

In [ ]:
### Step 12. How many items were orderd in total?

In [40]:
data["quantity"].sum()

np.int64(4972)

In [ ]:
### Step 13. Turn the item price into a float

In [65]:
data["item_price"]=data["item_price"].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
#### Step 13.a. Check the item price type

In [64]:
data["item_price"].dtype

dtype('float64')

In [ ]:
#### Step 13.b. Create a lambda function and change the type of item price

In [77]:
data["item_price"].apply(
    lambda x: float(x.replace("$", "")) if isinstance(x, str) else float(x)
)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [ ]:
#### Step 13.c. Check the item price type

In [74]:
data["item_price"].dtype

dtype('float64')

In [ ]:
### Step 14. How much was the revenue for the period in the dataset?

In [62]:
data["item_price"] = data["item_price"].replace('[\$,]', '', regex=True).astype(float)
(data["quantity"] * data["item_price"]).sum()

np.float64(39237.02)

In [ ]:
### Step 15. How many orders were made in the period?

In [60]:
data["order_id"].nunique()

1834

In [ ]:
### Step 16. What is the average revenue amount per order?

In [59]:
data["item_price"]= data["item_price"].replace('[\$,]', '', regex=True).astype(float)
data["revenue"] = data["quantity"] * data["item_price"]
order_totals = data.groupby("order_id")["revenue"].sum()
order_totals.mean()

np.float64(21.39423118865867)

In [ ]:
### Step 17. How many different items are sold?

In [41]:
len(data["item_name"].unique())

50